
$color-text: #c2d4cb;
$font-family: 'Helvetica Neue', helvetica;

$color-sidebar-light: #484e4b;
$color-sidebar-medium: #3e4441;
$color-sidebar-dark: #343a37;

$color-main-light: #737572;
$color-main-medium: #313331;
$color-main-dark: #1a1b1a;
