
.note-display {
	height: 90vh;

	textarea {
		height: 90vh;
		color: $color-text;
		font-size: 1.5rem;
		padding: 1.2rem 1.6rem;
		font-family: $font-family;
		font-weight: 200;
		background-color: $color-main-medium;
		display: block;
	}
}
